.gallery-img
    transition: 0.3s ease
    cursor: pointer
    &:hover
        transform: scale(1.1) translateY(-8px)


.img-gallery-block
    overflow: hidden
    
.gallery-modal-wrapper
    position: fixed
    z-index: 1000
    width: 100vw
    height: 100vh
    background-color: rgba(0,0,0,0.6)
    display: none
    justify-content: center
    align-items: center
    opacity: 0
    
.modal-show
    display: flex
    opacity: 1
    
.gallery-modal
    max-width: 60vw
    max-height: 100vh
    position: relative
    background-color: #fff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 30px 56px


.modal-img-wrapper
    max-width: 55vw
    height: auto
    margin: 0

.gallery-img-container
    max-height: 210px
    overflow: hidden

.gallery-navigation
    width: 100%
    height: 100%
    position: absolute
    display: flex
    justify-content: space-between
    align-items: center
    .modal-arrow
        display: inline-block
        width: 25px
        height: auto
        margin: 0 14px
        cursor: pointer
        position: absolute
        opacity: 0.5
        transition: opacity 0.3s ease
        &:hover
            opacity: 1
        &.modal-arrow-left
            left: 0
        &.modal-arrow-right
            right: 0

.modal-img-name-block   
    margin-top: 30px
    width: 30%
    min-width: 70%
    text-align: center
    .modal-img-name
        font-family: Roboto, sans-serif
        font-size: 28px
        font-weight: 300
        color: $accent
        line-height: 1.2